<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <script type="text/javascript">
      // Dummy variable so that NodeJS stuff doesn't complain
      var module = {};
    </script>

    {{ if development }}
      <script type="text/javascript" src="/vendor/lodash/dist/lodash.js"></script>
      <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
      <script type="text/javascript" src="/vendor/urllite/browser-builds/standalone/urllite.js"></script>
      <script type="text/javascript" src="/vendor/path-to-regexp/index.js"></script>
      <script type="text/javascript" src="/vendor/react/react-with-addons.js"></script>
      <script type="text/javascript" src="/vendor/react-mini-router/dist/react-mini-router.js"></script>
      <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
      <script type="text/javascript" src="/javascripts/app.js"></script>
    {{ else }}
      <script type="text/javascript" src="/vendor/lodash/dist/lodash.min.js"></script>
      <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="/vendor/urllite/browser-builds/standalone/urllite.min.js"></script>
      <script type="text/javascript" src="/vendor/path-to-regexp/index.min.js"></script>
      <script type="text/javascript" src="/vendor/react/react-with-addons.min.js"></script>
      <script type="text/javascript" src="/vendor/react-mini-router/dist/react-mini-router.min.js"></script>
      <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/javascripts/app.min.js"></script>
    {{ end }}

    <title>Parsley</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    {{ yield }}
  </body>
</html>
