<div id="interface"></div>

<link rel="stylesheet" href="/stylesheets/index.css">

{{ if heroku }}
  <script type="text/javascript" src="/javascripts/index.min.js"></script>
{{ else }}
  <script type="text/javascript" src="/javascripts/index.js"></script>
{{ end }}
