<div id="interface"></div>

<link rel="stylesheet" href="/stylesheets/parsley.css">

{{ if development }}
  <script type="text/javascript" src="/javascripts/parsley.js"></script>
{{ else }}
  <script type="text/javascript" src="/javascripts/parsley.min.js"></script>
{{ end }}
