div.combobox-container {
  div.combobox-suggestions-outer-container {
    background-color: white;
  }
  span.combobox-match-segment {
    font-weight: bold;
  }
  div.combobox-match-highlighted {
    background-color: lightblue;
  }
}
