@import "bootstrap";

nav > div.container-fluid {
  background-color: lightyellow;
}

ul.nav li.dropdown {
	cursor: hand;
	cursor: pointer;
}

ul.nav.navbar-right a {
  color: rgb(66, 139, 202);
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
