div.sidebar-container {
	background-color: lightyellow;
	float: left;
	margin-right: 20px;
}

div.app-container {
	float: left;
}

li.create-new a {
	font-weight: bold;
}

div.organization-editor-container {
	table.edit-table tbody td {
		padding-bottom: 1em;
	}
}