@import "combobox";

div.primary-navbar-container nav {
  margin-bottom: 0px;

  > div.container-fluid {
    background-color: lightyellow;
  }
}

div.organization-editor-container {
	table.edit-table tbody td {
		padding-bottom: 1em;
	}
}

div.secondary-navbar-container {
  .organization-name {
    font-weight: bold;
  }

  .create-new a {
    font-weight: bold;
  }

  .current a {
    font-weight: bold;
  }
}

div.organization-accordion-container {
  margin-left: 20px;
  margin-right: 20px;
}

div.recipe-editor-container {
  div.name-field {
    margin-bottom: 10px;
  }
}

// This will center the menu items on web version
@media (min-width: 768px) {
  div.secondary-navbar-container {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .container-fluid {
      text-align: center;
    }
  }
}